.svn
prebuild.bat
postbuild.bat
_ReSharper.IREmbeddedApp/*
ExampleApps/obj/
ExampleApps/bin/
IREmbeddedApp/bin/
IREmbeddedApp/obj/
IRTestResources/bin/
IRTestResources/obj/
IREmbeddedLibraries/bin/
IREmbeddedLibraries/obj/
IRSinatra/obj/
IRSinatra/bin/
IREmbeddedApp.4.5.resharper
IREmbeddedApp.4.5.resharper.user
**/Iron*.dll
**/Micro*.dll
**/*.pdb
*.suo
**/*.suo
**/*.user
.vs/IREmbeddedApp/project-colors.json
.vs/IREmbeddedApp/v16/TestStore/0/000.testlog
.vs/IREmbeddedApp/v17/fileList.bin
.vs/IREmbeddedApp2/DesignTimeBuild/.dtbcache.v2
.vs/IREmbeddedApp2/v16/TestStore/0/000.testlog
.vs/IREmbeddedApp2/v16/TestStore/0/testlog.manifest
.vs/IREmbeddedApp6/config/applicationhost.config
.vs/IREmbeddedApp6/DesignTimeBuild/.dtbcache.v2
.vs/IREmbeddedApp6/FileContentIndex/92bc3b2a-1272-4624-bc34-0423e73f171e.vsidx
.vs/IREmbeddedApp6/FileContentIndex/ff79a292-cd9b-4897-91ea-a817cf75bc75.vsidx
.vs/IREmbeddedApp6/project-colors.json
.vs/IREmbeddedApp6/v17/.futdcache.v1
.vs/IREmbeddedApp6/v17/.futdcache.v2
.vs/IREmbeddedApp6/v17/fileList.bin
.vs/ProjectEvaluation/irembeddedapp6.metadata.v2
.vs/ProjectEvaluation/irembeddedapp6.metadata.v7.bin
.vs/ProjectEvaluation/irembeddedapp6.projects.v2
.vs/ProjectEvaluation/irembeddedapp6.projects.v7.bin
.vs/ProjectEvaluation/irembeddedapp8.metadata.v7.bin
.vs/ProjectEvaluation/irembeddedapp8.projects.v7.bin
.vs/IREmbeddedApp/v16/TestStore/0/000.testlog
IREmbeddedApp/.vs/IREmbeddedApp2/DesignTimeBuild/.dtbcache.v2
IREmbeddedApp/.vs/IREmbeddedApp2/v16/TestStore/0/000.testlog
IREmbeddedApp/.vs/IREmbeddedApp2/v16/TestStore/0/testlog.manifest
IRTestResources/.vs/IRTestResources8/DesignTimeBuild/.dtbcache.v2
IRTestResources/.vs/IRTestResources8/FileContentIndex/120f9379-6546-445e-91b0-e073fb51f924.vsidx
IRTestResources/.vs/IRTestResources8/FileContentIndex/404d4f29-3ae7-410b-9fee-d148779b27e7.vsidx
IRTestResources/.vs/IRTestResources8/FileContentIndex/5a580091-d668-476e-9842-d9b05f594bad.vsidx
IRTestResources/.vs/IRTestResources8/FileContentIndex/753ce2b2-b134-47de-b545-6dec6f94691d.vsidx
IRTestResources/.vs/IRTestResources8/FileContentIndex/964c3d97-b062-4b45-ba10-8ecd969a6f6d.vsidx
IRTestResources/.vs/IRTestResources8/v17/.futdcache.v2
IRTestResources/.vs/IRTestResources8/v17/fileList.bin
IRTestResources/.vs/IRTestResources8/v17/TestStore/0/000.testlog
IRTestResources/.vs/IRTestResources8/v17/TestStore/0/testlog.manifest
