<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This bit is needed by .NET 5 builds -->
	<configSections>
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
	</configSections>

	<microsoft.scripting>
		<languages>
			<language names="IronRuby;Ruby;rb" extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null"/>
		</languages>
	</microsoft.scripting>

	<appSettings>
		<add key="Setting1" value="May 5, 2014"/>
		<add key="Setting2" value="May 6, 2014"/>
	</appSettings>
</configuration>